amqp==2.3.2
aniso8601==3.0.2
anyjson==0.3.3
apsw-wheels==3.26.0.post2
attrs==18.1.0
Automat==0.7.0
billiard==3.5.0.4
celery==4.2.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
constantly==15.1.0
cycler==0.10.0
dnspython==1.16.0
eventlet==0.24.1
Flask==1.0.2
Flask-RESTful==0.3.6
Flask-SocketIO==3.0.1
greenlet==0.4.15
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
kombu==4.2.1
MarkupSafe==1.0
monotonic==1.5
numpy==1.14.5
pandas==0.23.3
PyHamcrest==1.9.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.3
python-engineio==2.2.0
python-socketio==2.0.0
pytz==2018.5
queuelib==1.5.0
requests==2.21.0
six==1.11.0
Twisted==22.1.0
urllib3==1.24.1
vine==1.1.4
Werkzeug==0.14.1
zope.interface==4.5.0